/* Reset */

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body,
h1, h2, h3, h4, h5, h6, p,
ul[class], ol[class], li,
figure, figcaption,
blockquote, dl, dd {
  margin: 0;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class] {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* General */

body {
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.6px;
  font-weight: 300;
  line-height: 18px;
  font-size: 14px;
  color: #242121;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.title-inner {
  text-align: center;
}
.title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 56px;
  font-size: 48px;
  color: #01353E;
}
.title::after {
  content: '/';
  position: relative;
  bottom: -25px;
  right: 10px;
  font-size: 72px;
  color: #00B2A0;
}
.btn {
  display: block;
  max-width: 350px;
  max-height: 70px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #242121;
  border: 1px solid #C4C4C4;
  padding: 20px 92px;
  cursor: pointer;
}

/* Header */

.header {
  position: relative;
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(180deg, #01353E 0%, 
            rgba(51, 51, 51, 0.595076) 31.64%, 
            rgba(51, 51, 51, 0.222586) 74.35%, 
            rgba(51, 51, 51, 0) 99.87%);
}
.header__top-inner {
  display: flex;
  align-items: center;
  padding: 35px 0 0;
}
.logo {
  margin-right: -60px;
  z-index: 3;
}
.menu {
  margin: 0 auto;
  z-index: 1;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 45px;
}
.menu__link {
  color: #fff;
  padding: 6px 2px;
}
.menu__link:hover {
  border-bottom: 1px solid #00B2A0;
}
.header__content-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 98px);
  padding-bottom: 92px;
}
.content__title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 235px;
  font-size: 200px;
  color: #0D302C;
  margin-top: auto;
}
.content__subtitle {
  font-weight: 400;
  color: #000;
  margin-bottom: auto;
}

/* Burger */

.menu__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}
.menu__burger span {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .5s;
}
.menu__burger.active span {
  transform: scale(0);
}
.menu__burger::before,
.menu__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .5s;
}
.menu__burger::before {
  top: 0;
}
.menu__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}
.menu__burger::after {
  bottom: 0;
}
.menu__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

/* About */

.about {
  padding: 190px 0 170px;
}
.about__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 95px;
}
.about__text {
  max-width: 481px;
  margin: 0 auto 30px 0;
}

/* Services */

.services {
  background-color: #F8F8F8;
  padding: 200px 0;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 0 85px;
  margin: 0 -15px;
}
.service__item {
  max-width: 350px;
  padding-bottom: 15px;
  margin: 0 15px;
}
.service__title-img {
  height: 50px;
  margin-right: 10px;
}
.service__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  margin-bottom: 10px;
}
.service__title h3 {
  max-width: 165px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
}
.services__info {
  display: flex;
  justify-content: space-between;
}
.services__info-items {
  flex: 0 1 50%;
}
.services__info-item {
  max-width: 330px;
  margin-bottom: 15px;
}
.services__info-progress {
  display: flex;
  align-items: center;
  height: 15px;
  margin-bottom: 3px;
}
.services__info-progress svg {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.services__info-progress span {
  font-weight: 400;
  line-height: 18px;
  font-size: 24px;
}
.services__info-text {
  flex: 0 1 50%;}
.services__info-text p + p {
  margin-top: 30px;
}

/* Offer */

.offer {
  padding: 200px 0 145px;
}
.offer-inner {
  width: 50%;
  padding-right: 89px;
  margin-right: auto;
}
.offer__text {
  margin-top: 100px;
}
.offer__text p + p {
  margin-top: 30px;
}

/* Photo */

.gallery {
  padding-top: 200px;
}
.gallery__photo {
  padding: 210px 0 200px;
}
.gallery__tabs {
  margin-bottom: 50px;
}
.gallery__tab {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 20px;
  outline-color: #C4C4C4;
  cursor: pointer;
}
.gallery__items {
  display: grid;
  grid-template: repeat(auto-fit, 280px) / repeat(4, 1fr);
  grid-gap: 40px;
  margin-bottom: 50px;
}
.gallery__item {
  background-color: #333;
  cursor: zoom-in;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: all .5s;
}
.gallery__item img:hover {
  opacity: .3;
}
.gallery__item-long {
  grid-column: span 2;
}
.mixitup-control-active {
  color: #00B2A0;
}
.gallery__btn {
  margin: 0 auto;
}

/* Quote */

.gallery__quote {
  text-align: center;
  background-color: #F8F8F8;
  padding: 80px 0;
}
.quote-inner {
  display: inline-block;
  font-style: italic;
}
.quote__text {
  position: relative;
  font-weight: 400;
  line-height: 40px;
  font-size: 36px;
}
.quote__author {
  position: absolute;
  white-space: nowrap;
  font-weight: 300;
  line-height: 18px;
  font-size: 14px;
  bottom: -40%;
  left: 79%;
}

/* Video */

.gallery__video {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 200px 0;
}
.gallery__video-link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
	border-top: 44px solid transparent;
	border-left: 75px solid  #373A39;
	border-bottom: 44px solid transparent;
}

/* Counters */

.counters {
  display: flex;
  justify-content: center;
  text-align: center;
}
.counters__number h5 {
  font-weight: 700;
  line-height: 75px;
  font-size: 64px;
  color: #01353E;
}
.counters div + div {
  margin-left: 100px;
}
.counters__number span {
  display: block;
}

/* Blog */

.blog {
  padding-top: 200px;
}
.blog__posts {
  margin-top: 230px;
}
.blog__post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  color: #fff;
}
.blog__post::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 33, 33, 0.5);
}
.post__content {
  align-self: flex-end;
  width: 50%;
  margin: auto 0;
  z-index: 1;
}
.post__title {
  display: inline-block;
  max-width: 600px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 56px;
  font-size: 48px;
  color: #fff;
}

/* Slick */

.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.slick-dots li + li {
  margin-left: 15px;
}
.slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  margin-bottom: 70px;
  cursor: pointer;
}

/* Team */

.team {
  padding: 200px 0;
}
.team__cards {
  display: flex;
  justify-content: space-between;
  margin: 210px -10px -10px;
}
.team__card {
  text-align: center;
  margin: 0 10px 10px;
}
.user__photo {
  max-width: 330px;
  max-height: 450px;
  margin-bottom: 25px;
}
.user__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.user__name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.user__prof {
  font-weight: 400;
}

/* Price */

.price {
  background-color: #F8F8F8;
  padding: 200px 0;
}
.price__items {
  display: flex;
  justify-content: space-between;
  margin: 210px -10px -10px;
}
.price__item {
  background-color: #fff;
  margin: 0 10px 10px;
}
.price__item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 45px 31px;
}
.price__name,
.price__number {
  text-align: center;
  font-weight: 400;
  line-height: 40px;
  font-size: 36px;
  color: #01353E;
}
ul.price__list {
  flex: 1 1 auto;
  margin: 60px 0;
}
.price__list li + li {
  margin-top: 20px;
}
.price__list-item {
  font-weight: 400;
  color: #242121;
}
.price__number::after {
  content: '$';
  vertical-align: middle;
  line-height: 22px;
  font-size: 18px;
  padding-left: 5px;
}

/* Send */

.map {
  max-width: 1473px;
  max-height: 640px;
  margin: 200px auto;
}
.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.send__inner {
  display: flex;
  margin-top: 240px;
}
.send__box {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  color: #00B2A0;
  padding-right: 30px;
}
.send__name {
  margin-bottom: 32px;
}
.send__phone {
  margin-bottom: 52px;
}
.send__text {
  height: 156px;
  padding: 5px;
  margin-bottom: 72px;
  resize: none;
}
.send__name,
.send__phone {
  height: 38px;
  padding: 0 5px;
}
.send__name,
.send__phone,
.send__text {
  font-weight: 400;
  font-size: 18px;
  color: #00B2A0;
  border: none;
  border-bottom: 2px solid #DADADA;
}
::placeholder {
  color: #00B2A0;
}
.send__text::placeholder {
  max-width: 250px;
}
.send__btn {
  background-color: transparent;
  padding: 25px 92px;
}
.send__contacts {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
  background-color: #F8F8F8;
  padding: 49px 52px 71px;
}
.contact__phone {
  display: inline-block;
  color: #242121;
}

/* Footer */

.social {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.social a + a {
  margin-left: 10px;
}
.social__link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #242121;
  transition: all .5s;
}
.social__link:hover {
  color: #00B2A0;
}
.footer__logo {
  display: flex;
  justify-content: center;
  background-color: #00B2A0;
  padding: 68px 0;
}

/* Responsive */

@media (max-width: 1030px) {
  .title {
    line-height: 42px;
    font-size: 35px;
  }
  .title::after {
    bottom: -15px;
    right: 8px;
    font-size: 50px;
  }
  .menu {
    margin: 0 10px 0 auto;
  }
  .menu__item:not(:last-child) {
    margin-right: 20px;
  }
  .content__title {
    line-height: 175px;
    font-size: 160px;
  }
  .content__subtitle {
    line-height: 24px;
    font-size: 20px;
  }
  .about {
    padding: 120px 0;
  }
  .about__content {
    justify-content: flex-start;
    margin-top: 70px;
  }
  .about__text {
    max-width: 100%;
    margin: 0 70px 15px;
  }
}
@media (max-width: 750px) {
  .title {
    line-height: 33px;
    font-size: 27px;
  }
  .title::after {
    font-size: 40px;
  }
  body.lock {
    overflow: hidden;
  }
  .header {
    position: relative;
  }
  .header__top-inner {
    padding: 35px 10px 0;
  }
  .menu__list {
    position: absolute;
    display: block;
    text-align: center;
    top: -200%;
    left: 0;
    width: 100%;
    background-color: rgba(36, 33, 33, 0.7);
    transition: all .5s;
    overflow: auto;
  }
  .menu__list.active {
    top: 0;
    height: 100%;
    padding: 100px 0;
  }
  .menu__list.active li.menu__item {
    padding: 20px;
    margin: 0;
  }
  .menu__burger {
    display: block;
  }
  .header__content-inner {
    padding-bottom: 30px;
    margin-top: -60px;
    height: calc(100vh - 38px);
  }
  .content__title {
    line-height: 150px;
    font-size: 130px;
  }
  .content__subtitle {
    line-height: 20px;
    font-size: 17px;
  }
  .about__text {
    margin: 0 0 15px;
  }
}
@media (max-width: 570px) {
  .title {
    max-width: 310px;
    line-height: 27px;
    font-size: 23px;
    margin: 0 auto;
  }
  .title::after {
    bottom: -10px;
    right: 5px;
    font-size: 30px;
  }
  .content__title {
    line-height: 100px;
    font-size: 90px;
  }
  .content__subtitle {
    line-height: 16px;
    font-size: 14px;
  }
  .about {
    padding: 90px 0;
  }
  .about__content {
    margin-top: 55px;
  }
  .about__text {
    text-align: justify;
  }
}